<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Experiencias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <div>
      <ion-slides mode="ios" scrollbar="ios">
        <ion-slide>
          <ion-button>
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-slide>
      </ion-slides>
    </div>
  </ion-list>
  <ion-slides mode="ios" class="cardImagen">
    <ion-slide>
      <ion-card class="cardImagen">
        <img src="https://tse4.mm.bing.net/th?id=OIP.-lRHSk3d8vCtmtLpmSnfSwHaE7&pid=Api" style="object-fit: cover; height: 100%;">
        <ion-card-subtitle>asdas</ion-card-subtitle>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="cardImagen">
        <img src="https://1.bp.blogspot.com/-1AascM3lRWw/UeuTYwvoRKI/AAAAAAAAC_A/gCzYxt-2glc/s1600/la+foto+(6).JPG" style="object-fit: cover; height: 100%;">
        <ion-card-subtitle>asdas</ion-card-subtitle>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
